include README.md
include LICENSE
include requirements.txt
recursive-include automated_glycosylation/scripts *.py
recursive-include automated_glycosylation/scripts *.sh
recursive-include automated_glycosylation/bin *.sh
